$main-color: #7531ab;
$assistance-color: #d48f3f;
$bg-color: #f3f1fd;
$bg-color-secondary: #d3f4ea;
$text-color2: #444444;
$text-color3: #999999;
$body-bg-color: #fbfbfe;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: 1px solid transparent !important;
  // outline: 1px solid red;
}

body {
  background-color: #fbfbfe !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding: 0px !important;
}

.hero {
  overflow: hidden;

  .container {
    overflow: visible;
  }

  .youtube_video_area {

    // width: 460px;
    iframe {
      border-radius: 20px;
      height: 415px;
    }
  }
}

.our-tutor .youtube_video_area {

  iframe {
    border-radius: 20px;
    height: 415px;
  }
}


@media screen and (max-width: 960px) {
  .hero .youtube_video_area iframe {
    margin-top: 30px;
  }
}

@media screen and (max-width: 760px) {
  .hero .youtube_video_area iframe {
    margin-top: 30px;
    height: 200px;
    border-radius: 10px;

  }

  .our-tutor .youtube_video_area {
    iframe {
      margin-top: 30px;
      height: 200px;
      border-radius: 10px;
    }
  }
}

@media screen and (max-width: 550px) {

  footer .copyright_text p,
  footer .copyright_text a {
    font-size: 13px !important;
  }
}



// inputs
textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0px 0px 5px $assistance-color;
  border: 1px solid $assistance-color !important;
}

textarea:hover,
input:focus:hover {
  outline: none;
  box-shadow: 0px 0px 5px $assistance-color;
  border: 1px solid $assistance-color;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

select option:hover {
  background-color: yellow !important;
}

body {
  background-color: #f5f5f5;
}

.youtube_video_area {
  // border-radius: 20px;
  overflow: hidden;
}

.youtube_video_area {
  iframe {
    height: auto !important;
    aspect-ratio: 16 / 9 !important;
  }
}



// .modal-xl {
//   max-width: 1591px !important;
// }

// only for mobile and tab
@media (max-width: 991px) {
  .container {
    overflow: hidden;
    padding: 0px 15px !important;
  }
}

@media (max-width: 420px) {

  .container {

    padding: 0px 5px !important;
  }
}

@media (max-width: 992px) {

  .ScheduleSmart {
    font-size: 35px !important;
  }
}

.tumbnile_area {
  border: 1px solid #7531AB;
  border-radius: 32px 32px 0px 0px;
  overflow: hidden;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 1px #7531AB !important;
}

.navbar-toggler {
  border: 2px solid #7531AB !important
}

.navbar-toggler .navbar-toggler-icon {
  filter: invert(6%) sepia(61%) saturate(3672%) hue-rotate(260deg) brightness(94%) contrast(84%)
}


// loader 
// #coverScreen {

//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 100%;
//   z-index: 99999;
// }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  text-align: center;
}

.preloader-icon {
  position: relative;
  top: 35%;
  width: 300px;
  border-radius: 50%;
  animation: shake 1.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, -1px) rotate(0deg);
  }

  10% {
    transform: translate(1px, -3px) rotate(-1deg);
  }

  20% {
    transform: translate(1px, -5px) rotate(-3deg);
  }

  30% {
    transform: translate(1px, -7px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -9px) rotate(1deg);
  }

  50% {
    transform: translate(1px, -11px) rotate(3deg);
  }

  60% {
    transform: translate(1px, -9px) rotate(0deg);
  }

  70% {
    transform: translate(1px, -7px) rotate(-1deg);
  }

  80% {
    transform: translate(1px, -5px) rotate(-3deg);
  }

  90% {
    transform: translate(1px, -3px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}

//  import Bootstrap
@import "./bootstrap/bootstrap";
@import "./custom/common";

@import "custom/home";
@import "custom/blogs";
@import "custom/blog-single";
@import "custom/request-demo";
@import "custom/school";
@import "custom/how-it-works";
@import "custom/sign-up";
@import "custom/select-country";

@import "custom/sign-up-2";

@import "custom/line-design";