$main-color: #7531ab;
$assistance-color: #d48f3f;
$bg-color: #f3f1fd;
$bg-color-secondary: #d3f4ea;
$text-color2: #444444;
$text-color3: #999999;
$body-bg-color: #fbfbfe;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // outline: 1px solid red;
}

body {
  background-color: #fbfbfe !important;
}
a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #f5f5f5;
}

.youtube_video_area {
  border-radius: 20px;
  overflow: hidden;
}

.modal-xl {
  max-width: 1591px !important;
}

//  import Bootstrap
@import "./bootstrap/bootstrap";
@import "./custom/common";

@import "custom/home";
@import "custom/blogs";
@import "custom/blog-single";
@import "custom/request-demo";
@import "custom/school";
@import "custom/how-it-works";
@import "custom/sign-up";
@import "custom/sign-up-2";

@import "custom/line-design";
