$main-color: #7531ab;
$assistance-color: #d48f3f;
$bg-color: #f3f1fd;
$bg-color-secondary: #d3f4ea;
$text-color2: #444444;
$text-color3: #999999;
$body-bg-color: #fbfbfe;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}
a {
  text-decoration: none !important;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #f5f5f5;
}

//  import Bootstrap
@import "./bootstrap/bootstrap";

.btn_brand {
  background-color: $assistance-color;
  color: #fff;
  border: none;
  border-radius: 32px 0px 32px 0px;
  font-size: 18px;
  padding: 18.5px 36px;
  &:hover {
    background-color: $main-color;
  }
}
.btn_transparent {
  background-color: transparent;
  color: $main-color;
  border: none;
  border-radius: 32px 0px 32px 0px;
  font-size: 18px;
  padding: 18.5px 36px;
  &:hover {
    background-color: $assistance-color;
    color: #fff;
    path {
      fill: #fff;
    }
  }
}
.btn_main {
  background-color: $main-color;
  color: #fff;
  border: none;
  border-radius: 32px 0px 32px 0px;
  font-size: 18px;
  padding: 18.5px 36px;
  &:hover {
    background-color: $assistance-color;
  }
}
.btn_asist {
  background-color: $assistance-color;
  color: #fff;
  border: none;
  border-radius: 32px 0px 32px 0px;
  font-size: 18px;
  padding: 18.5px 36px;
  &:hover {
    background-color: $main-color;
  }
}
.text_main {
  color: $main-color;
}
.btn_border {
  background-color: transparent;
  color: $assistance-color;
  border: 2px solid $assistance-color;
  border-radius: 32px 0px 32px 0px;
  font-size: 18px;
  padding: 18.5px 36px;
  &:hover {
    background-color: $assistance-color;
    color: #fff;
  }
}
.btn_submit {
  background-color: $main-color;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: $assistance-color;
  }
}
.bg_brand {
  background-color: $assistance-color;
}

header {
  nav {
    padding: 20px 0px;
    .navbar-nav {
      margin-left: 100px;
      .nav-link {
        font-style: normal !important;
        font-weight: 400 !important;
        color: #000 !important;
      }

      .nav-item {
        margin-right: 40px;
      }

      .nav-link:after {
        transition: all ease-in-out 0.5s;
        background: none repeat scroll 0 0 #f35c14;
        content: "";
        display: block;
        height: 2px;
        width: 0;
        color: #d48f3f;
        margin-top: 4px;
      }

      .active.nav-link:after,
      .nav-link:hover:after {
        width: 29px;
        margin: 0 auto;
      }

      .active.nav-link,
      .nav-link:hover {
        font-weight: 600 !important;
        color: #000 !important;
      }
    }
  }
}
.hero {
  background-color: $bg-color;
  padding-top: 80px;
  padding-bottom: 96px;
  // background-image: url(../images/hero-model.png);
  // background-repeat: no-repeat;
  // background-position: bottom -50px right 100px;
  // background-size: contain;
  .hero_top_text {
    .bg_brand {
      color: #fff;
      font-size: 24px;
      padding: 10px 20px;
      border-radius: 8px;
      margin-right: 10px;
    }
    p {
      font-size: 18px;
      color: $text-color2;
    }
  }
  .hero_big_text {
    h1 {
      color: $main-color;
      font-size: 64px;
      font-weight: 800;
      padding: 0;
      margin: 0;
    }
  }
  &_big_text_sheap {
    background-image: url(../images/hero-text-shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: $assistance-color;
    padding: 5px 15px;
    margin: 5px;
  }
  .hero_bottom_text p {
    color: $text-color2;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 20px;
    max-width: 512px;
  }
}
.our_services {
  background: $body-bg-color;
  padding: 120px 0px;
  h2 {
    font-size: 48px;
    color: $assistance-color;
    font-weight: 600;
    padding-bottom: 40px;
  }
  .service_card {
    background-color: #fff;
    height: 100%;
    .content {
      padding: 20px 37px;
      h3 {
        font-size: 24px;
        color: black;
        font-weight: 600;
        padding-bottom: 20px;
        margin: 0;
      }
      p {
        color: $text-color2;
        font-size: 16px;
        margin: 0;
        padding-bottom: 20px;
      }
      a {
        color: $assistance-color;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}
.subject_area {
  padding-top: 120px;
  .top_area {
    max-width: 1211px;
    margin: 0 auto;
    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      text-align: center;
      color: $assistance-color;
      padding-bottom: 30px;
    }
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;

      text-align: center;

      color: #444444;
    }
  }
  .subjects {
    padding-bottom: 120px;

    svg {
      border-radius: 50%;
      background: transparent;
      transition: all 0.3s ease-in-out;
      background: #fff;
      &:hover {
        background: $bg-color;
        cursor: pointer;
      }
    }
  }
  .details_subject {
    h3 {
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
      padding-bottom: 30px;
      margin-bottom: 60px;
      border-bottom: 1px solid #7531ab;
      text-align: center;
    }
    p {
      svg {
        margin-right: 10px;
      }
    }
  }
}
.our-features {
  padding: 120px 0px;
  h2 {
    font-size: 48px;
    color: $assistance-color;
    font-weight: 600;
    padding-bottom: 40px;
  }
  h1 {
    font-size: 48px;
    color: $assistance-color;
    font-weight: 600;
  }
  p {
    padding-bottom: 60px;
  }
  .features_card {
    background: #fff;
    height: 100%;
    box-shadow: 0px 30px 10px 0px rgba(152, 152, 152, 0.06);
    &_content {
      padding: 10px;
      h3 {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding: 20px 0px;
      }
      p {
        color: $text-color2;
        font-size: 14px;
        padding-bottom: 0;
      }
    }
  }
  .get-start-btn {
    margin-top: 60px;
  }
}
.let_get_started {
  background-image: url(../images/let-start-bg.png);
  padding-bottom: 97px;
  padding-top: 40px;
  .content {
    max-width: 652px;
    p {
      color: $text-color2;
      padding-bottom: 30px;
    }
  }
}

.testimonials {
  background-color: $bg-color;
}
.partners {
  background: #fff;
  padding: 120px 0px;
  h2 {
    font-size: 48px;
    color: $assistance-color;
    font-weight: 600;
  }
  p {
    color: $text-color2;
    font-size: 18px;
    padding-bottom: 60px;
  }
}
.our-tutor {
  padding: 120px 0px;
  background-image: url(../images/our-tut-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-color;
  margin-bottom: 120px;
  .content {
    text-align: center;
    padding: 40px;
    h2 {
      font-size: 48px;
      color: $assistance-color;
      font-weight: 600;
      padding-bottom: 40px;
    }
    p {
      color: $text-color2;
      font-size: 16px;
      padding-bottom: 60px;
    }
  }
}

footer {
  background-color: $main-color;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
  .footer-logo {
    padding-bottom: 40px;
  }
  .footer_options {
    padding-top: 66.5px;
    padding-bottom: 69px;
  }
  h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
  }
  a,
  p {
    color: #fff;
    display: block;
  }
  a {
    margin-bottom: 13px;
  }
  .social_icons {
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  .contact-info {
    a {
      font-size: 14px !important;
    }
  }
  .copyright_text {
    padding: 30px 0px;

    p {
      color: #999999;
      font-size: 16px;
    }
  }
}

// blogs page
.blog_page_heading {
  background-image: url(../images/blog/blog-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-color;
  padding: 120px 0px;
  h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
}
.blogs {
  padding: 120px 0px;
  .single_blog_card {
    box-shadow: 0px 30px 10px 0px rgba(152, 152, 152, 0.06);
    border-radius: 30px;
    overflow: hidden;
    margin-top: 30px;
    img {
      max-height: 280px;
    }
    .content {
      padding: 30px;

      .info {
        color: $text-color3;
        p {
          padding: 0;
          margin: 0;
        }
      }
      h3 {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding: 20px 0px;
      }
      p {
        color: $text-color2;
        font-size: 16px;
      }
      a {
        color: $assistance-color;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}

.pagination {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  border-top: 0.5px solid #999999;
  margin-top: 60px;
  a {
    background: #dbdbdb;
    border-radius: 12px;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 8px;
    text-decoration: none;
    color: #444444;
    display: grid;
    place-items: center;
  }
  a.current-page,
  a:hover {
    background: $assistance-color;
    color: #fff;
  }
}
//single blog page
.blog_single_page_heading {
  background-image: url(../images/blog/single-blog-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-color;
  padding: 120px 0px;
  h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
}
.article-blog {
  padding: 120px 0px;
  article {
    h3 {
      font-size: 36px;
      color: black;
      font-weight: 600;

      max-width: 900px;
    }
    p {
      font-size: 18px;
      color: black;
      padding: 20px 15px;
    }
  }
}
.commnet-wraper {
  max-width: 920px;
  margin: 0 auto;
  .artical-info {
    padding: 10px 20px;
    gap: 10px;
    width: 920px;
    height: 64px;
    border: 1px solid $assistance-color;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date-and-name {
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .comment-form {
    padding: 60px;
    padding-bottom: 120px;
    h2 {
      font-size: 48px;
      line-height: 150%;
      color: $assistance-color;
    }
    .author-info {
      display: flex;
      gap: 15px;
      margin-bottom: 34px;
      .author-img {
        width: 100px;
        height: 100px;
        img {
          width: 100px;
          height: 100px;
        }
      }
      .author-details {
        .name {
          font-size: 18px;
          line-height: 150%;

          color: #d48f3f;
          margin-bottom: 0;
        }
        .date {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;

          color: #444444;
          margin-bottom: 0;
        }
        .bio {
          font-weight: 500;
          font-size: 17px;
          line-height: 26px;
          margin-bottom: 0;
          color: #999999;
        }
      }
    }
    .com-form {
      h3 {
        font-size: 36px;
        line-height: 150%;
        color: black;
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        line-height: 150%;
        color: black;
      }
      .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
      }
      input,
      textarea {
        width: 100%;
        border: 1px solid #999999;
        border-radius: 8px;
        padding: 10px;
      }
      button {
        margin-top: 10px;
      }
    }
  }
}
// request a demo
.req-demo {
  padding: 120px 0px;
  h1 {
    font-size: 48;
    color: black;
    font-weight: 600;

    text-align: center;
  }
  .sub-text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #444444;
  }
  .request_demo {
    display: flex;
    gap: 60px;
    margin-top: 60px;
    .demon_content {
      max-width: 460px;
      padding: 40px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
      height: fit-content;
      border-radius: 16px;
    }
    .demo_form {
      max-width: 800px;
      padding: 40px 80px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
      border-radius: 16px;
      input,
      select,
      textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid $text-color3;
        border-radius: 8px;
        font-size: 18px;
        color: $text-color3;
      }
      h3 {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-bottom: 20px;
      }
    }
  }
}

// school page
.let_join {
  padding-top: 60px;
  h2 {
    font-size: 36px;
    line-height: 150%;
    color: #222222;
    margin-bottom: 30px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #444444;
    margin-bottom: 60px;
  }
  img {
    max-width: 620px;
  }
}

.benefits {
  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 120px;
    text-align: center;
  }
  .mt-60 {
    margin-top: 60px;
  }
  img {
    max-width: 648px;
  }
  .content {
    max-width: 612px;
    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 60px;
      color: #000000;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

      color: #444444;
    }
  }
}
.how-its-works {
  padding: 120px 0px;
  background-color: #fbfbfe;

  .top_part {
    h2 {
      font-size: 48px;
      line-height: 59px;
      color: #d48f3f;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #444444;
    }
  }
  .content {
    .stepstoggle {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 60px;
      .nav-link {
        width: 260px;
        height: 100px;
        background: #7531ab;
        border: 4px solid #d48f3f;
        border-radius: 16px;
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
      }
    }
    .steps {
      display: grid;
      grid-template-columns: repeat(4, 285px);
      gap: 60px;
      background: #fff;
      margin-top: 90px;
      .step {
        position: relative;
        border-radius: 0px 0px 30px 30px;
        &_details {
          background: $main-color;
          color: #fff;
          padding: 20px 10px;
          text-align: center;
          border-radius: 0px 0px 30px 30px;
          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
          }
        }
        &_number {
          position: absolute;
          width: 60px;
          height: 60px;
          top: 0;
          left: calc(285px / 2 - 30px);
          margin-top: -30px;
          border-radius: 35px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          display: grid;
          place-items: center;
          .inner {
            border: 2px solid #7531ab;
            width: 40px;
            height: 40px;
            border-radius: 35px;
            display: grid;
            place-items: center;
            color: $main-color;
          }
        }
      }
    }
  }
}
