//single blog page
.blog_single_page_heading {
  background-image: url(../images/blog/single-blog-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-color;
  padding: 283px 0px;

  h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 600;
    text-align: center;
  }
}

.article-blog {
  padding: 120px 0px;

  article {
    h3 {
      font-size: 36px;
      color: black;
      font-weight: 600;

      max-width: 900px;
    }

    p {
      font-size: 18px;
      color: black;
      padding: 20px 15px;
    }
  }
}

.commnet-wraper {
  max-width: 920px;
  margin: 0 auto;

  .artical-info {
    padding: 10px 20px;
    gap: 10px;
    width: 920px;
    height: 64px;
    border: 1px solid $assistance-color;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .date-and-name {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .comment-form {
    padding: 60px;
    padding-bottom: 120px;

    h2 {
      font-size: 48px;
      line-height: 150%;
      color: $assistance-color;
    }

    .author-info {
      display: flex;
      gap: 15px;
      margin-bottom: 34px;

      .author-img {
        width: 100px;
        height: 100px;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .author-details {
        .name {
          font-size: 18px;
          line-height: 150%;

          color: #d48f3f;
          margin-bottom: 0;
        }

        .date {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;

          color: #444444;
          margin-bottom: 0;
        }

        .bio {
          font-weight: 500;
          font-size: 17px;
          line-height: 26px;
          margin-bottom: 0;
          color: #999999;
        }
      }
    }

    .com-form {
      h3 {
        font-size: 36px;
        line-height: 150%;
        color: black;
        margin-bottom: 30px;
      }

      p {
        font-size: 18px;
        line-height: 150%;
        color: black;
      }

      .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
      }

      input,
      textarea {
        width: 100%;
        border: 1px solid #999999;
        border-radius: 8px;
        padding: 10px;
      }

      button {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  //single blog page
  .blog_single_page_heading {
    background-image: url(../images/blog/single-blog-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $bg-color;
    padding: 40px 0px;

    h1 {
      font-size: 32px;
      color: #fff;
      font-weight: 600;
      text-align: center;
    }
  }

  .article-blog {
    padding: 30px 0px;

    article {
      h3 {
        font-size: 24px;
        color: black;
        font-weight: 600;
        max-width: 900px;
      }

      p {
        font-size: 14px;
        color: black;
        padding: 20px 15px;
      }
    }
  }

  .commnet-wraper {
    max-width: 920px;
    margin: 0 auto;

    .artical-info {
      padding: 10px 20px;
      gap: 10px;
      width: 100%;
      height: 100px;
      border: 1px solid $assistance-color;
      border-radius: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      .date-and-name {
        display: flex;
        align-items: center;
        gap: 20px;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    .comment-form {
      padding: 10px;
      padding-bottom: 120px;

      h2 {
        font-size: 26px;
        line-height: 150%;
        color: $assistance-color;
        text-align: center;
      }

      .author-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-bottom: 34px;

        .author-img {
          width: 100px;
          height: 100px;

          img {
            width: 100px;
            height: 100px;
          }
        }

        .author-details {
          .name {
            font-size: 14px;
            line-height: 150%;

            color: #d48f3f;
            margin-bottom: 0;
          }

          .date {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;

            color: #444444;
            margin-bottom: 0;
          }

          .bio {
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 0;
            color: #999999;
          }
        }
      }

      .com-form {
        h3 {
          font-size: 26px;
          line-height: 150%;
          color: black;
          margin-bottom: 10px;
          text-align: center;
        }

        p {
          font-size: 18px;
          line-height: 150%;
          color: black;
        }

        .inputs {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          margin-bottom: 20px;
        }

        input,
        textarea {
          width: 100%;
          border: 1px solid #999999;
          border-radius: 8px;
          padding: 8px;
        }

        button {
          margin-top: 10px;
        }
      }
    }
  }
}