.how-its-works {
  padding: 120px 0px;
  background-color: #fbfbfe;

  .top_part {
    text-align: center;

    h2 {
      font-size: 48px;
      line-height: 59px;
      color: #d48f3f;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #444444;
    }
  }

  .content {
    .stepstoggle {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-top: 60px;
      margin-bottom: 120px;
      .nav-link {
        width: 260px;
        height: 100px;
        background: #d48f3f;
        border: 4px solid #d48f3f;
        border-radius: 16px;
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: capitalize;

        &:hover {
          background: #7531ab;
        }
      }

      .nav-link.active {
        width: 260px;
        height: 100px;
        background: #7531ab !important;
        border: 4px solid #d48f3f;
        border-radius: 16px;
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
      }
    }

    .steps {
      display: grid;
      grid-template-columns: repeat(4, 285px);
      gap: 60px;
      background: #fff;
      margin-top: 90px;

      .step {
        position: relative;
        border-radius: 0px 0px 30px 30px;

        &_details {
          background: $main-color;
          color: #fff;
          padding: 20px 10px;
          text-align: center;
          border-radius: 0px 0px 30px 30px;

          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
          }
        }

        &_number {
          position: absolute;
          width: 60px;
          height: 60px;
          top: 0;
          left: calc(285px / 2 - 30px);
          margin-top: -30px;
          border-radius: 35px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          display: grid;
          place-items: center;

          .inner {
            border: 2px solid #7531ab;
            width: 40px;
            height: 40px;
            border-radius: 35px;
            display: grid;
            place-items: center;
            color: $main-color;
          }
        }
      }
    }
  }
}

.bg-arts {
  background-image: url("../images/our-tut-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0px;
  background-color: #f3f1fd;
  margin-bottom: 120px;
}

// only for mobile
@media (max-width: 767px) {
  .content {
    .stepstoggle {
      display: flex;
      flex-direction: column !important;
      align-items: center;
      justify-content: center;
      gap: 10px !important;
      margin-top: 60px;

      .nav-link {
        width: 200px !important;
        height: 50px !important;
        background: #d48f3f;
        border: 4px solid #d48f3f;
        border-radius: 16px;
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
      }

      .nav-link.active {
        width: 260px;
        height: 100px;
        background: #7531ab !important;
        border: 4px solid #d48f3f;
        border-radius: 16px;
        color: #fff;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
      }
    }

    .steps {
      display: grid;
      grid-template-columns: repeat(4, 285px);
      gap: 60px;
      background: #fff;
      margin-top: 90px;

      .step {
        position: relative;
        border-radius: 0px 0px 30px 30px;

        &_details {
          background: $main-color;
          color: #fff;
          padding: 20px 10px;
          text-align: center;
          border-radius: 0px 0px 30px 30px;

          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
          }
        }

        &_number {
          position: absolute;
          width: 60px;
          height: 60px;
          top: 0;
          left: calc(285px / 2 - 30px);
          margin-top: -30px;
          border-radius: 35px;
          background: #ffffff;
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
          display: grid;
          place-items: center;

          .inner {
            border: 2px solid #7531ab;
            width: 40px;
            height: 40px;
            border-radius: 35px;
            display: grid;
            place-items: center;
            color: $main-color;
          }
        }
      }
    }
  }
}

.bg-arts {
  .row {
    align-items: center;
  }

  .content {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
      color: #d48f3f;
      margin-bottom: 20px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #444444;
    }
  }
}
