.req-demo {
  padding: 120px 0px;

  h1 {
    font-size: 48;
    color: black;
    font-weight: 600;

    text-align: center;
  }

  .sub-text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    color: #444444;
  }

  .request_demo {
    display: flex;
    gap: 60px;
    margin-top: 60px;

    .demon_content {
      max-width: 460px;
      padding: 40px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
      height: fit-content;
      border-radius: 16px;
    }

    .demo_form {
      max-width: 800px;
      padding: 40px 80px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
      border-radius: 16px;

      input,
      select,
      textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid $text-color3;
        border-radius: 8px;
        font-size: 18px;
        color: $text-color3;
      }

      h3 {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .req-demo {
    padding: 20px 0px;

    h1 {
      font-size: 30px;
      color: black;
      font-weight: 600;
      text-align: center;
    }

    .sub-text {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;

      color: #444444;
    }

    .request_demo {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      .demon_content {
        max-width: 460px;
        padding: 15px 10px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        height: fit-content;
        border-radius: 16px;
        h2 {
          text-align: center;
        }
      }

      .demo_form {
        max-width: 800px;
        padding: 20px 15px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        border-radius: 16px;

        input,
        select,
        textarea {
          width: 100%;
          margin-bottom: 20px;
          padding: 7px;
          border: 1px solid $text-color3;
          border-radius: 8px;
          font-size: 14px;
          color: $text-color3;
        }

        h3 {
          font-size: 14px;
          color: black;
          font-weight: 600;
          padding-bottom: 10px;
        }
      }
    }
  }
}
